/* Developers Site v.1.0 */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.1rem;
    font-weight: 600;
    overflow-x: hidden;
}

h2, h3, p {
    margin-bottom: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5rem;
}

i {
    font-weight: 600;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    transition: all .2s;
}

a:hover {
    color: rgb(68, 68, 235);
    text-decoration: underline;
}

/*** Navbar ***/

.navbox {
    background-color: #315fb4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 199;
    min-height: 52px;
    padding: .4rem;
}

.nav-brand {
    margin-left: 1.27rem;
}

.brand-name {
    position: absolute;
    top: 11px;
    left: 4.55rem;
    color: whitesmoke;
    font-size: 1.8rem;
    font-weight: bold;
}

.box-burger {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 1.2rem;
    background: transparent;
}

#open-menu {
    cursor: pointer;
    height: 36px;
}

/* Nav List */

.nav-list {
    min-width: 35%;
    transition: all .5s;
}

.nav-list ul {
    display: flex;
    justify-content: space-between !important;
    padding-left: 1.5rem;
    padding-right: 2rem;
}

.nav-list ul li {
    list-style: none;
}

.nav-list ul li a {
    color: white;
    font-size: 1.28rem;
    text-decoration: none;
    transition: all .2s;
}

.nav-list ul li a:hover {
    color: #adff2f;
    opacity: .8;
    text-decoration: underline;
}

/** Menu Mobile **/

@media (max-width: 768px){

    /* Nav Brand */
    .nav-brand {
        margin-left: .4rem;
    }

    .brand-name {
        top: 13px;
        left: 3.5rem;
        font-size: 1.5rem;
    }

    /* NavBox List */

    .nav-list {
        background: inherit;
        position: absolute;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100vh;
        z-index: 270;
    }

    .toggle-list {
        display: block;
    }

    .nav-list ul {
        display: block;
        line-height: 3;
        text-align: center;
    }

}

/* Btn Large (None) */
@media (min-width: 768.1px){

    .box-burger {
        display: none;
    }

}

/* Header */

header {
    display: flex;
    justify-content: center;
    height: 75vh;
    background-image: url(../imgs/keys-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.box-logo {
    display: flex;
    align-items: center;
    position: absolute;
    top: 30vh;
    color: cornsilk;
    z-index: 108;
}

.logo-telegram {
    height: 100px;
}

.box-logo h2 {
    font-size: 3rem;
    margin-left: 1rem;
    text-shadow: 2px 2px 2px rgb(43, 41, 41);
}

/* Hero Mobile */
@media (max-width: 768px){

    .logo-telegram {
        height: 80px;
        padding-left: 10px;
    }

    .box-logo h2 {
        font-size: 2rem;
    }

}

/* Sections */
.section-about, .section-devbot, .section-rules {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 17rem;
    padding: 2rem;
}

@media (min-width: 992px){
    .box-sections {
        width: 50%;
    }
}

/* About/Rules Section */

.section-about, .section-rules {
    background: #3939b1;
    color: white;
}

.section-about, .section-rules p {
    font-size: 24px;
    font-weight: 300;
}


/* Devbot/Names Section */
.section-devbot, .section-names {
    background: #eff7f1;
}

.section-devbot, .section-names p {
    color: #343a40;
    font-size: 17px;
    font-weight: 400;
}

/* Rules Section */

.section-rules ul li {
    display: flex;
    margin-bottom: 9px;
}

.section-rules span {
    margin-left: 1rem;
}

/* Names Section */
.section-names {
    display: flex;
    justify-content: space-around;
    min-height: 17rem;
    padding: 2rem;
}

.section-names div {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.section-names h2 {
    color: #343a40;
}

.section-names ul li {
    padding-bottom: 8px;
}

.section-names ul li a {
    font-size: 20px;
}

@media (max-width: 992px){
    .section-names {
        flex-direction: column;
    }
}

footer {
    background: #343a40;
    color: aliceblue;
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}



















